/*
!/app
/app/*
!/app/design
/app/design/*
!/app/design/frontend
/app/design/frontend/*
!/app/design/frontend/rwd
/app/design/frontend/rwd/*
!/app/design/frontend/rwd/gardenanna-theme

/*
!/skin
/skin/*
!/skin/frontend
/skin/frontend/*
!/skin/frontend/rwd
/skin/frontend/rwd/*
!/skin/frontend/rwd/gardenanna-theme